{% extends "cat_to_cond_base.html" %}

{% block title %}
    Cat_To_Cond
{% endblock %}

{% block pagecontents %}
   <form action="/cat_to_cond" method="post">
     <div class="ddown">
        <select name="categories" id="categories">
            <option value="0">Select Category</option>
                {% for cat in cats %}
                    <option value="{{ cat['key'] }}">{{ cat["category"] }}</option>
                {% endfor %}
        </select>
    </div>
<br>
    <div>
        
        {% for cond in conds %}
                <input type="checkbox" name="conditions" value="{{cond['key']}}" id="conditions"> {{ cond["medicalcondition"] }}
                <br>
        {% endfor %}

    </div>
        <button type="submit">Submit</button>
   </form>

   <p>{{error}}</p>
{% endblock %}