{% extends "patient_base.html" %}

{% block title %}
    Patient Diseases
{% endblock %}


{% block pagecontents %}
    <h1>Patient Diseases</h1>

    {{session['username']}}

    <div class="container">
        <select name="categories" id="categories">
            <option value="0">Select Category</option>
                {% for cat in cats %}
                    <option value="{{ catgroup }}">{{ cat["catgroup"] }}</option>
                {% endfor %}
        </select>
    </div>
{{error}}
{% endblock %}