{% extends "patient_base.html" %}

{% block title %}
    Patient Diseases
{% endblock %}


{% block pagecontents %}
    <h1>Patient Diseases</h1>

    {{session['username']}}

    <div class="container">
        <form action="/patient_diseases" method="post">
            <div>
                <select name="categories" id="categories">
                    <option value="0">Select Category</option>
                        {% for cat in cats %}
                            <option value="{{ cat['categories'] }}">{{ cat["categories"] }}</option>
                        {% endfor %}
                </select>
            </div>
            <div>
                <button name="search" type="submit">Search</button>
            </div>
            <div>
                {% for c in cond %}

                    <table>
                        <tr>
                            <td>{{ c["key"] }}</td>
                            <td><input type="checkbox" id="{{ c['key'] }}" name="cond_key" value="{{ c['key'] }}">
                                <label for="{{ c['key'] }}"> {{ c["conditions"] }}</label><br></td>

                        </tr>
                    </table>
                {% endfor %}
            </div>
            <div>
                <button name="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
{{error}}
{% endblock %}